# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Sistem
.DS_Store
Thumbs.db

# Log-uri
*.log